@import "/src/styles.scss";

main {
  margin-block: 1%;

  button {
    font-size: 1rem;
    border-radius: 10px;
  }

  #currentWord {
    font-size: 1rem;
    padding: 2%;
    border-radius: 5px;
    background-color: $medium;
    &[full="true"] {
      color: $success;
    }
    &[full="false"] {
      color: $danger;
    }

    b {
      background: none;
      font-size: 0.5rem;
      padding: 0.5%;
      border-radius: 50%;
      box-sizing: border-box;
      box-shadow: inset 0px 0px 20px 10px $dark;
      &[theme="dark"] {
        color: $warning;
      }
      &[theme="light"] {
        color: $danger;
      }
    }
  }

  #gameDiv {
    display: flex;
    flex-direction: column;
    margin-block: 1%;
    margin-inline: 3%;

    #gameWord {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-around;
      margin-block: 1%;
      border: 2px solid $success;
      border-radius: 10px;

      p {
        width: 50%;
        font-size: 0.7rem;
        margin-inline: 1%;
      }

      table {
        display: flex;
        justify-content: space-between;
        // width: 38%;

        tr {
          // border: 1px solid $primary;

          td {
            background-color: darken($medium, 20%);
            position: relative;
            // border-radius: 10px;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-inline: 5%;
            &[isActive="true"] {
              &[theme="dark"] {
                background-color: $warning !important;

                b {
                  color: $dark !important;
                  border: 5px solid $dark !important;
                  // &::before {
                  //   content: " ";
                  // }
                }
              }
              &[theme="light"] {
                background-color: $danger !important;

                b {
                  color: $light !important;
                  border: 5px solid $light !important;
                  // &::before {
                  //   content: " ";
                  // }
                }
              }
            }

            b {
              font-size: 1.1rem;
              color: $light;
              border: 5px solid darken($medium, 20%);
              &[less10="true"]::before {
                content: "0";
              }
            }
          }
        }
      }
    }
  }
}
