<main>
  <button *ngIf="!gameRunning" [attr.theme]="app.theme" (click)="startGame()">START</button>
  <button *ngIf="gameRunning" [attr.theme]="app.theme" (click)="stopGame()">STOP</button>

  <p id="currentWord" [attr.theme]="app.theme" [attr.full]="12 - currentWord.length == 0" *ngIf="gameRunning">
    {{currentWord}}
    <b [attr.theme]="app.theme">{{12 - currentWord.length}}</b>
  </p>

  <div id="gameDiv" *ngIf="gameRunning">
    <div class="gameWord" *ngFor="let item of gameArray | keyvalue : defaultOrder">

      <p>{{$any(item).value.description}}</p>

      <div class="hiddenWord">
        <div class="hiddenLetter" *ngFor="let letter of $any(item).value.word.split('') | keyvalue : defaultOrder" [attr.theme]="app.theme" [attr.isActive]="indexArray[$any(letter).value].active">
          <b *ngIf="!indexArray[$any(letter).value].active" [attr.less10]="indexArray[$any(letter).value].id < 10">{{indexArray[$any(letter).value].id}}</b>
          <b *ngIf="indexArray[$any(letter).value].active"> {{letter.value}} </b>
        </div>
      </div>
    </div>
  </div>
</main>
