@import "/src/styles.scss";

main {
  margin-block: 1%;

  button {
    font-size: 1rem;
    border-radius: 10px;
  }

  #currentWord {
    font-size: 1rem;
    padding: 2%;
    border-radius: 5px;
    background-color: $medium;
    &[full="true"] {
      color: $success;
    }
    &[full="false"] {
      color: $danger;
    }

    b {
      background: none;
      font-size: 0.5rem;
      padding: 0.5%;
      border-radius: 50%;
      box-sizing: border-box;
      box-shadow: inset 0px 0px 20px 10px $dark;
      &[theme="dark"] {
        color: $warning;
      }
      &[theme="light"] {
        color: $danger;
      }
    }
  }

  #gameDiv {
    display: inline-grid;

    .gameWord {
      display: flex;
      flex-direction: row;
      align-items: center;
      margin: 1%;
      border: 2px solid $success;
      border-radius: 10px;

      p {
        width: 35%;
        font-size: 0.7rem;
        margin-inline: 1%;
      }

      .hiddenWord {
        display: flex;
        width: 5%;
        // background-color: darken($medium, 20%) !important;
        position: relative;
        border-radius: 10px;

        .hiddenLetter {
          background-color: darken($medium, 20%);
          position: relative;
          display: flex;
          padding-inline: 1%;
          border-left: 2px solid $success;
          &[isActive="true"] {
            &[theme="dark"] {
              background-color: $warning !important;

              b {
                color: $dark;
              }
            }
            &[theme="light"] {
              background-color: $danger !important;

              b {
                color: $light;
              }
            }

            b {
              display: flex;
              &::before {
                content: "\feff";
              }
              &::after {
                content: "\feff";
              }
            }
          }

          b {
            font-size: 1rem;
            color: $light;
            border: 5px solid darken($medium, 20%);
            &[less10="true"]::before {
              content: "0";
            }
          }
        }
      }
    }
  }
}
