@import "/src/styles.scss";

header {
  position: relative;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border-bottom: 1px solid $warning;
  padding-block: 2%;

  h1 {
    a {
      font-size: 2vmax;
      color: $warning;
    }
  }

  nav {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 50%;

    a {
      font-size: 2vmax;
      transition: all 250ms;
      // text-decoration: none;
      border-radius: 10px;
      padding: 1%;
      cursor: pointer;
      &[isActive="true"] {
        color: $danger !important;
        background-color: $warning !important;
      }
      &[theme="dark"] {
        color: $dark;
        background-color: $warning;
      }
      &:hover[theme="dark"] {
        color: $warning;
        background-color: $dark;
      }
      &[theme="light"] {
        color: $light;
        background-color: $warning;
      }
      &:hover[theme="light"] {
        color: $warning;
        background-color: $light;
      }
    }
  }
}

footer {
  border-top: 1px solid $warning;

  #heart {
    color: $danger;
  }
}
